[submodule "Linux-DNS-server"]
	path = Linux-DNS-server
	url = https://github.com/Angristan/Linux-DNS-server.git
[submodule "bash-it"]
	path = bash-it
	url = git@github.com:kaos-addict/bash-it.git
[submodule "pure-getopt"]
	path = pure-getopt
	url = git@github.com:kaos-addict/pure-getopt.git
[submodule "powerline"]
	path = powerline
	url = git@github.com:kaos-addict/powerline.git
[submodule "liquidprompt"]
	path = liquidprompt
	url = git@github.com:kaos-addict/liquidprompt.git
[submodule "peru"]
	path = peru
	url = git@github.com:kaos-addict/peru.git
[submodule "progress"]
	path = progress
	url = git@github.com:kaos-addict/progress.git
[submodule "bashmanager"]
	path = bashmanager
	url = git@github.com:kaos-addict/bashmanager.git
[submodule "bashful"]
	path = bashful
	url = git@github.com:kaos-addict/bashful.git
[submodule "composure"]
	path = composure
	url = git@github.com:kaos-addict/composure.git
[submodule "rerun"]
	path = rerun
	url = git@github.com:kaos-addict/rerun.git
[submodule "sub"]
	path = sub
	url = https://github.com/basecamp/sub.git
[submodule "fonts"]
	path = fonts
	url = git@github.com:kaos-addict/fonts.git
[submodule "workshop"]
	path = workshop
	url = git@github.com:kaos-addict/workshop.git
