[submodule "Linux-DNS-server"]
	path = Linux-DNS-server
	url = https://github.com/Angristan/Linux-DNS-server.git
[submodule "bash-it"]
	path = bash-it
	url = git@github.com:kaos-addict/bash-it.git
[submodule "pure-getopt"]
	path = pure-getopt
	url = git@github.com:kaos-addict/pure-getopt.git
[submodule "powerline"]
	path = powerline
	url = git@github.com:kaos-addict/powerline.git
[submodule "liquidprompt"]
	path = liquidprompt
	url = git@github.com:kaos-addict/liquidprompt.git
